@model PhungNoiProject.Models.Member

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewBag.Title</h1>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            Delete your user
        </div>
        <div class="panel-body">

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)

                <div class="col-lg-5">
                    <form role="form">

                        <div class="form-group">
                            <img src="..\..\@Html.DisplayFor(model => model.profilePicture)" width="100" height="100" />

                        </div>

                        <div class="form-group">
                            <label>User ID:&nbsp</label>
                            @Html.DisplayFor(model => model.memberId, new { @class = "form-control" })
                        </div>


                        <div class="form-group">
                            <label>User Name:&nbsp</label>
                            @Html.DisplayFor(model => model.UserName, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>User Password:&nbsp</label>
                            @Html.DisplayFor(model => model.Userpassword)
                        </div>
                        <div class="form-group">
                            <label>Telephone Number:&nbsp</label>
                            @Html.DisplayFor(model => model.phoneNumber)
                        </div>
                        <div class="form-group">
                            <label>Address:&nbsp</label>
                            @Html.DisplayFor(model => model.address)
                        </div>

                        <div class="form-group">
                            <label>Create date:&nbsp</label>
                            @Html.DisplayFor(model => model.createDate)
                        </div>
                        <div class="form-group">
                            <label>Last Sign in:&nbsp</label>
                            @Html.DisplayFor(model => model.lastSignInDate)
                        </div>


                        <div>
                            <input type="submit" class="btn btn-primary" value="Delete"/>
                            |
        @Html.ActionLink("Back to List", "Index")
                        </div>

                    </form>
                </div>    
                
            }
        </div>

        <form />
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
