@model PhungNoiProject.Models.Order

@{
    ViewBag.Title = "Create";
}
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>@ViewBag.Message</h2>
    </hgroup>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Order</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.memberID, "Member")
            </div>
            <div class="editor-field">
                @Html.DropDownList("user_id", String.Empty)
                @Html.ValidationMessageFor(model => model.memberID)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.orderDate)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.orderDate,new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.orderDate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.deliveryDate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.deliveryDate)
                @Html.ValidationMessageFor(model => model.deliveryDate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.orderStatus)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.orderStatus)
                @Html.ValidationMessageFor(model => model.orderStatus)
            </div>
             <div class="editor-field">
                @Html.EditorFor(model => model.comment)
                @Html.ValidationMessageFor(model => model.orderStatus)
            </div>

            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
